<h2>Upload de arquivos</h2>

<form method="post" enctype="multipart/form-data" action="/upload">
    <input type="file" name="file" id="file" multiple>
    <input type="submit" value="Enviar">
</form>
